<ion-view title="LinkVan Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <h4>3 Search Results For "UBC"</h4>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <ion-list>
            <ion-item ui-sref="linkVanShow">Facility 1</ion-item>
            <ion-item ui-sref="linkVanShow">Facility 2</ion-item>
            <ion-item ui-sref="linkVanShow">Facility 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>