<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Facilities">
            </label>
            <h4 class="whatservice">What service are you looking for?</h4>
            <a href="#/filtered?category=Shelter" font-family="ProjectLinkvan" class="button button-stable button-block  icon-left icon-sleepshelter_linkvan btn-index "><i class="icon ion-chevron-right icon-accessory chevron-index"></i><p class="btn-index-text">Shelter</p></a>
            <a href="#/filtered?category=Food" font-family="ProjectLinkvan" class="button button-stable button-block  icon-left icon-pets_linkvan btn-index"><i class="icon ion-chevron-right icon-accessory chevron-index"></i><p class="btn-index-text">Food [replace icon]</p></a>
            <a href="#/filtered?category=Medical" font-family="ProjectLinkvan" class="button button-stable button-block  icon-left icon-Medical_linkvan btn-index"><i class="icon ion-chevron-right icon-accessory chevron-index"></i><p class="btn-index-text">Medical</p></a>
            <a href="#/filtered?category=Hygiene" font-family="ProjectLinkvan" class="button button-stable button-block  icon-left icon-hygiene_linkvan btn-index"><i class="icon ion-chevron-right icon-accessory chevron-index"></i><p class="btn-index-text">Hygiene</p></a>
            <a href="#/filtered?category=Technology" font-family="ProjectLinkvan" class="button button-stable button-block  icon-left icon-display btn-index"><i class="icon ion-chevron-right icon-accessory chevron-index"></i><p class="btn-index-text">Technology</p></a>
            <a href="#/filtered?category=Legal" font-family="ProjectLinkvan" class="button button-stable button-block  icon-left icon-Advocacy_linkvan btn-index"><i class="icon ion-chevron-right icon-accessory chevron-index"></i><p class="btn-index-text">Advocacy</p></a>
            <a ui-sref="linkVanCrisisLines" font-family="ProjectLinkvan" class="button button-stable button-block  icon-left icon-pets_linkvan btn-index"><i class="icon ion-chevron-right icon-accessory chevron-index"></i><p class="btn-index-text">Crisis Lines [replace icon]</p></a>
        </form>
    </ion-content>
</ion-view>
