<ion-view title="LinkVan Disclaimer">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <h3>Disclaimer</h3>
        <div>
            <p>
                The contents of this app, including without limitation all data, directions, images,and descriptions are meant to be used for informational purposes only. By using this app, you acknowledge that any reliance on information is done at your own risk. While
                we take every effort to ensure accurate information, the data is only as accurate as the information provided by service providers.
            </p>
        </div>
    </ion-content>
</ion-view>