<ion-view title="Crisis Lines">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <h3>Crisis Lines</h3>
        <div class="spacer" style="width: 283px; height: 24px;"></div>
        <div>
            <ul class="list-crisis-line">
                <li class="crisis-line">

                    <div class="facility-block">
                        <div class="facility-block-name">
                            <strong>Vancouver Child and Youth Mental Health Referral Intake</strong>
                        </div>
                        <p>For suicidal children and youth (18 &amp; under) at risk to suicide.</p>
                    </div>


                    <a href="tel:+16047094111">
                        604-709-4111
                    </a>
                </li>
                <hr>
                <li class="crisis-line">

                    <div class="facility-block">
                        <div class="facility-block-name">
                            <strong>VictimLink BC</strong>
                        </div>
                        <p>A toll-free, confidential, multilingual telephone service available across BC and Yukon 24 hours a day, 7 days a week. It provides information and referral services to all victims of crime and immediate crisis support to victims
                            of family and sexual violence, including victims of human trafficking exploited for labour or sexual services.</p>
                    </div>


                    <a href="tel:+18005630808">
                        1-800-563-0808

                    </a>
                </li>
                <a href="tel:+18005630808">
                </a>
            </ul>
        </div>
    </ion-content>
</ion-view>
