<ion-view title="LinkVan Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Facilities">
            </label>
            <h5>What service are you looking for?</h5>
            <a href="#/filtered?category=Shelter" class="button button-stable button-block  icon-left ion-android-happy">Shelter</a>
            <a href="#/filtered?category=Food" class="button button-stable button-block  icon-left ion-android-happy">Food</a>
            <a href="#/filtered?category=Medical" class="button button-stable button-block  icon-left ion-android-happy">Medical</a>
            <a href="#/filtered?category=Hygiene" class="button button-stable button-block  icon-left ion-android-happy">Hygiene</a>
            <a href="#/filtered?category=Technology" class="button button-stable button-block  icon-left ion-android-happy">Technology</a>
            <a href="#/filtered?category=Legal" class="button button-stable button-block  icon-left ion-android-happy">Advocacy</a>
            <a ui-sref="linkVanCrisisLines" class="button button-stable button-block  icon-left ion-android-happy">Crisis Lines</a>
        </form>
    </ion-content>
</ion-view>
