<ion-view title="LinkVan Directions">
    <ion-content overflow-scroll="true" padding="false" scroll="false" class="has-header">

      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            Mode of Travel
          </div>
          <select name="mode" ng-model="travelList.selected" ng-change="changeTravel()">
            <option value="WALKING">WALKING</option>
            <option value="TRANSIT">TRANSIT</option>
            <option value="BICYCLE">BICYCLE</option>
            <option value="DRIVING">DRIVING</option>
          </select>
        </label>

      </div>

    <div id="map" data-tap-disabled="true" style="width: 100%; height: 100%"0></div>
    </ion-content>
</ion-view>
